<div class="container">
  <app-popup class="alert-popup"></app-popup>
  <h2>Your shopping cart</h2>
  <table class="table table-condensed" style="width: 60%">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cartProduct of cartProducts">
        <td>{{cartProduct.product.name}}</td>
        <td>{{cartProduct.quantity}}</td>
        <td>{{cartProduct.product.price | currency:'USD':true}}</td>
        <td>{{cartProduct.product.price * cartProduct.quantity | currency:'USD':true}}</td>
      </tr>
      <tr>
        <th colspan="4" style="text-align:right">Total: {{totalPrice | currency:'USD':true}}</th>
        <div class="btn-group" style="margin-top:25px;">
        <button type="button" class="btn btn-success" (click)="showCheckoutPopup()">Checkout</button>
      </div>
      </tr>
    </tbody>
  </table>
</div>